node_modules
out/
*.tif
*.vsix
yarn.lock
example/
.vscode-test/
extension/test-fixtures/
.vscode-test-web/
test-results/
test-workspace/
playwright-report/

package-lock.json

# Webpack
*.webpack.config.js

.DS_Store
*.log
*.zip
*.tar.gz
*.tgz
