.vscode/**
.vscode-test/**
out/test/**
node_modules/**
src/**
test/**
preview-src/**

**/*.map

.gitignore
cgmanifest.json
esbuild.js
package-lock.json
tsconfig.json
yarn.lock

# Test data
*.tif
*.jpg
